<%=fn%>
<%=ln%>

<h1> What is your age?: </h1>
<form method = "post" action = "p_age">
	<input type = "text" name = "age">
	<input type = "submit" value = "Submit">
	<input type = "hidden" name = "fn" value = "<%=fn%>">
	<input type = "hidden" name = "ln" value = "<%=ln%>">
</form>