<%=fn%>
<h1> Please enter your last name: </h1>
<form method = "post" action = "l_names">
	<input type = "text" name = "ln">
	<input type = "submit" value = "I love Jebus">
	<input type = "hidden" name = "fn" value = "<%=fn%>">
</form>