<head>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<h1 class="color size center"> The Calculator </h1>

<body>

<ul>
	<li><a href="/"> Login </a></li>
	<li><a href="/user"> Enter your name </a></li>
	<li><a href="/nums"> Calculator </a> </li>
	<li style ="float:right"><a href="https://duckduckgo.com/" target = "_blank"> DuckDuckGo </a></li>
	
</ul>
<i class="material-icons">cloud</i>
<i class="material-icons">favorite</i>
<i class="material-icons">attachment</i>
<i class="material-icons">computer</i>
<i class="material-icons">traffic</i>


<%=yield%>
</body>



<footer class = "center">
<a href="http://www.minedminds.org" target = "_blank"> MinedMinds</a>
	
</footer>