<h1> <%=fn%> <%=ln%> pick your numbers and your operator: </h1>

<form method = "post" action = "p_nums">
	<input type = "text" name = "num1" required>
	<input type = "text" name = "num2" required>
	<input type = "radio" name = "op" value = "+"> Add
	<input type = "radio" name = "op" value = "-"> Sub
	<input type = "radio" name = "op" value = "*"> Mul
	<input type = "radio" name = "op" value = "/"> Div
	<input type = "submit" value = "Submit">
	<input type = "hidden" name = "fn" value = "<%=fn%>">
	<input type = "hidden" name = "ln" value = "<%=ln%>">
</form>